*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', cursive;
    background: rgb(236, 187, 187);
    
}
.photu{
    background-image: url("./img/Covid.jpg");
}
.gif{
    border: 2px solid black;
    border-radius: 50%;
}
.intro{
    
    display: flex;
    border-radius: 4%;
    border: 3px solid rgb(201, 83, 83);
    background-color: beige;
}
.ht{
    color: #023981cc;
    text-align: center;
    font-weight: 100;
}
.percards{
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px solid #000;
    
}
.txtuc{
    color: #4a6169d7;
    padding: 1.5%;
    margin: 10%;
    border: 2px solid rgb(109, 56, 56);
    border-radius: 5%;
    text-align: center;
}
.txtuc:hover{
    border: 2px solid rgb(17, 4, 4);
    color: rgba(2, 52, 56, 0.781);
    border-radius: 20%;
}
